%header#page-header
  #masthead
    %h1
      = link_to 'Flix', root_path
    %nav
      %p= link_to 'Sign Up', signup_path, class: 'button'
      %p= link_to 'Sign In', new_session_path, class: 'button'
